<div style="background-color: #1F201F; color: #FFFFFF; margin: auto; border-radius: 20px; padding: 40px 0;">
	<h1 style="text-align: center; padding: 20px 0; font-size: 22px;">BRIEFING DE CLIENTES NUEVOS</h1>
	<div style="padding: 0 50px; font-size: 17px;">
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Nombre y Apellido</p>
			<p style="line-height: 0.3;"><%= fullName %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Nombre de la Marca</p>
			<p style="line-height: 0.3;"><%= company %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Correo Electrónico</p>
			<p style="line-height: 0.3;"><%= email %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">País de residencia</p>
			<p style="line-height: 0.3;"><%= country %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Número de teléfono</p>
			<p style="line-height: 0.3;"><%= phone %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Tipo de Servicio</p>
			<p style="line-height: 0.3;"><%= serviceType %></p>
		</div>
		<div style="margin-bottom: 35px;">
			<p style="font-weight: bold;">Descripción del proyecto</p>
			<p style="line-height: 0.3;"><%= proyectDescription %></p>
		</div>
	</div>
</div>
